/CIMS/nbproject/private/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CIMS/build/
/CIMS/dist/
CIMS/nbproject/ant-deploy.xml
*.properties
CIMS/nbproject/ant-deploy.xml
CIMS/nbproject/build-impl.xml
CIMS/nbproject/project.properties
/CentraleApp/build/
/CentraleApp/dist/

# Intellij IDEA
CentraleApp\.idea\vcs.xml
CentraleApp\.idea\workspace.xml
